<div>
  <h2>
  <%= @table.table_name %>
  </h2>
</div>
<div>
  <%#= for column <- @table.columns do %>
    <%#= render "column.html", column: column %>
  <%#end%>
  <%= render "schema.html", table: @table %>
</div>
